.background-div
{
    background : url("../../../../assets/images/login_page.png") no-repeat center center;
    background-size:cover;   
}

.login-component
{  
    min-width:400px;
}

.form-field
{
    margin : 8px 0px;
}

.login-btn
{
    margin-top:10px;
    height:35px;
}

.google-signin-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }