<div class="inline-flex bg-gray-100 rounded-md p-1">
    <button
      class="px-4 py-1 rounded-md text-sm font-medium transition-all"
      [class.bg-white]="!isKanban"
      [class.text-gray-800]="!isKanban"
      [class.text-gray-500]="isKanban"
      (click)="isKanban = false"
    >
      📋 Table
    </button>
    <button
      class="px-4 py-1 rounded-md text-sm font-medium transition-all"
      [class.bg-white]="isKanban"
      [class.text-gray-800]="isKanban"
      [class.text-gray-500]="!isKanban"
      (click)="isKanban = true"
    >
      🗂️ Kanban
    </button>
  </div>
  
  <app-list *ngIf="!isKanban"></app-list>
  <!-- <app-task-kanban *ngIf="isKanban"></app-task-kanban> -->
