.dashboard-image
{
    background : url("/assets/images/dashboard.png") no-repeat center center;
    background-size:cover; 
}

.section-spacing
{
    margin-top:5rem;
    margin-bottom:5rem;
}

.section-spacing-top
{
    margin-top:5rem;
}

.card-width
{
    width:350px;
}