<div style="height:50px" class="flex pt-2 justify-between">
    <div class="flex">
    <h3 class="mt-1 ms-2 text-primary">Task Stack</h3>
    </div>

    <div class="me-2">
        <img alt="abc" src="../../assets/images/profile-photo.jpg" class="profile-icon mt-1" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
    </div>
</div>

