<div class="p-4 min-w-[300px] max-w-[400px] flex-1">
    <h2 class="font-semibold text-xl mb-4 text-center">{{ title }}</h2>
  
    <div class="space-y-4">
      <div *ngFor="let task of tasks" class="bg-white rounded-md p-3 shadow hover:shadow-lg transition">
        <div class="flex justify-between">
            <div class="font-medium">{{ task.title }}</div>
            <div class="rounded px-2 py-1 text-sm" [ngClass]="{
                'bg-yellow-100 text-yellow-800': task.priority === 'Medium',
                'bg-green-100 text-green-800': task.priority === 'Low',
                'bg-red-100 text-red-800': task.priority === 'High'
              }">{{task.priority}}</div>
        </div>
        
        <div class="text-sm text-gray-500">Due: {{ task.dueDate | date }}</div>
  
        <button 
          *ngIf="!readonly" 
          class="mt-2 text-sm text-green-600 hover:underline"
          (click)="markComplete.emit(task.id)">
          Mark as Completed
        </button>
      </div>
    </div>
  </div>