<div class="flex grid grid-cols-1 gap-6 md:grid-cols-3 overflow-x-auto p-4 h-[calc(100vh-230px)]">
    <app-kanban-column [title]="'Pending'" [tasks]="columns.pending" class="border bg-pending rounded-xl" (markComplete)="onMarkComplete($event)"></app-kanban-column>
    <app-kanban-column  [title]="'Overdue'" [tasks]="columns.overdue" class="border bg-overdue rounded-xl" (markComplete)="onMarkComplete($event)"></app-kanban-column>
    <app-kanban-column  [title]="'Completed'" [tasks]="columns.completed" class="border bg-completed rounded-xl" [readonly]="true"></app-kanban-column>
  </div>