.background-div
{
    background : url("../../assets/images/login-page.jpg") no-repeat center center;
    background-size:cover;
    height : 100vh;   
}
.login-component
{
    border-radius:10px;
    background-color:rgba(255,255,255,0.7);
    min-width:400px;
}

.form-field
{
    margin : 8px 0px;
}

.login-btn
{
    margin-top:10px;
    height:35px;
}