.background-div
{
    background : url("/assets/images/image-login-page6.jpg") no-repeat center center;
    background-size:cover;
    height : 100vh;   
    width:50%;
}

.login-component
{  
    min-width:400px;
}

.form-field
{
    margin : 8px 0px;
}

.login-btn
{
    margin-top:10px;
    height:35px;
}

.google-signin-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }