@use '@angular/material' as mat;
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../src/assets/styles/theme.scss';
@import '../src/assets/styles/button.scss';
@import '../src/assets/styles/common.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();
$density-level: -2; // Possible values: 0 (default), -1, -2, -3

@include mat.all-component-densities($density-level);

:root {
    --mat-form-field-container-height: 40px;
    --mat-form-field-filled-label-display: none;
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-filled-with-label-container-padding-top: 8px;
    --mat-form-field-filled-with-label-container-padding-bottom: 8px;
    --mat-form-field-container-text-size: 14px;
    --mdc-outlined-text-field-label-text-size:14px;
    --mat-select-trigger-text-size:14px;
}

.mdc-text-field--outlined
{
    padding-right:8px !important;
    padding-left:8px !important;
}
.mat-mdc-option:hover {
    background-color:#683ab7 !important;
    color:white;
    --mat-option-selected-state-label-text-color:white;
}

.mat-mdc-radio-button.mat-accent 
{
--mdc-radio-selected-focus-icon-color:#c9c5d0 !important;
--mdc-radio-selected-hover-icon-color:#673ab7 !important;
--mdc-radio-selected-icon-color:#673ab7 !important;
--mdc-radio-selected-pressed-icon-color:#673ab7 !important;
--mat-radio-checked-ripple-color:#673ab7 !important;
}

.mat-mdc-select-panel {
max-height: 200px !important; 
}
  
.mat-mdc-option {
height: 32px !important;
padding: 4px 12px !important; 
font-size: 14px !important;
}

