
.button-outline-primary
{
    border-color:#673ab7 !important;
    color:#673ab7 !important; 
}

.button-outline-primary:hover
{
    background-color:#673ab7 !important;
    color:white !important;
}


